services:
  api:
    image: brutosini/open-balena-api:37.3.2
    restart: unless-stopped
    depends_on:
      - db
      - redis
      - s3
    volumes:
      - certs-data:/certs
      - resin-data:/balena
    environment:
      DB_NAME: resin
      DB_PASSWORD: docker-tos
      DB_USER: dockerakhdvclw!relR
      LOG_LEVEL: DEBUG
      PRODUCTION_MODE: 'true'
      CONTRACTS_PUBLIC_REPO_NAME: contracts
      CONTRACTS_PUBLIC_REPO_OWNER: balena-io
      DB_GENERAL_REPLICA_MAX_USES: 1000
      DB_GENERAL_REPLICA_PORT: 5432
      DB_HOST: db
      DB_PORT: 5432
      DB_STATE_REPLICA_MAX_USES: 1000
      DB_STATE_REPLICA_PORT: 5432
      HOSTS_CONFIG: API_HOST:api,DB_HOST:db,DELTA_HOST:delta,HOST:api,REDIS_HOST:redis,TOKEN_AUTH_CERT_ISSUER:api,VPN_HOST:cloudlink,REGISTRY2_HOST:registry2
      IMAGE_STORAGE_BUCKET: resin-production-img-cloudformation
      IMAGE_STORAGE_ENDPOINT: s3.amazonaws.com
      IMAGE_STORAGE_PREFIX: images
      JSON_WEB_TOKEN_EXPIRY_MINUTES: 10080
      NUM_WORKERS: 1
      OAUTH_CALLBACK_PROTOCOL: https
      PORT: 80
      REDIS_HOST: redis:6379
      REDIS_IS_CLUSTER: 'false'
      TOKEN_AUTH_JWT_ALGO: ES256
      TOKENS_CONFIG: API_SERVICE_API_KEY:hex,AUTH_RESINOS_REGISTRY_CODE:hex,COOKIE_SESSION_SECRET:hex,JSON_WEB_TOKEN_SECRET:hex,MIXPANEL_TOKEN:hex,SUPERUSER_PASSWORD:hex,TOKEN_AUTH_BUILDER_TOKEN:hex,VPN_GUEST_API_KEY:hex,VPN_SERVICE_API_KEY:hex,API_VPN_SERVICE_API_KEY:API_SERVICE_API_KEY,REGISTRY2_TOKEN:TOKEN_AUTH_BUILDER_TOKEN
      TRUST_PROXY: 172.16.0.0/12
      VPN_PORT: 443
      WEBRESOURCES_S3_BUCKET: web-resources
      WEBRESOURCES_S3_REGION: us-east-1
      DEVICE_CONFIG_OPENVPN_CA: MIIEuzCCA6OgAwIBAgIUIQko7iZLIODdnlK/AnUUwaQOIBowDQYJKoZIhvcNAQELBQAwgYsxCzAJBgNVBAYTAlVTMRkwFwYDVQQKExBDbG91ZEZsYXJlLCBJbmMuMTQwMgYDVQQLEytDbG91ZEZsYXJlIE9yaWdpbiBTU0wgQ2VydGlmaWNhdGUgQXV0aG9yaXR5MRYwFAYDVQQHEw1TYW4gRnJhbmNpc2NvMRMwEQYDVQQIEwpDYWxpZm9ybmlhMB4XDTI1MDYyMzEwMTUwMFoXDTQwMDYxOTEwMTUwMFowYjEZMBcGA1UEChMQQ2xvdWRGbGFyZSwgSW5jLjEdMBsGA1UECxMUQ2xvdWRGbGFyZSBPcmlnaW4gQ0ExJjAkBgNVBAMTHUNsb3VkRmxhcmUgT3JpZ2luIENlcnRpZmljYXRlMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxT8fxKCSdF1XKFOut6kRbMp8pUD6RL+LRyPYDWiLSVXJ3n6GDSZpL8zpW9YbEUpAveM/YmWgrqkCBqDPUhEhAhEUS7spZ4sfwyvUByuMpEE2OW1Pxx+XOnQIm0wdeCQ+Q6VDrKuMbtnoXWYu7EQXkH7XXlfmvMY9B1Jp4OYU6SadkZbJcKzjuH0UkX0RuazVZd9EDyEWxqea9Z2QHp09Abgiblj15kGe0DPvLo/meEInB+hFDEQecvCThxNfnxZlaiRT1vFymAr/HTR+O2+ZHbEVChKD80ukQkitA9yD11AGT/rE082bXTHzfUu90OL1qKOBs5IGrRg5ea4SHX75NQIDAQABo4IBPTCCATkwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMCBggrBgEFBQcDATAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBRY6S1knnBVKR2eFADHlInMrvK1mDAfBgNVHSMEGDAWgBQk6FNXXXw0QIep65TbuuEWePwppDBABggrBgEFBQcBAQQ0MDIwMAYIKwYBBQUHMAGGJGh0dHA6Ly9vY3NwLmNsb3VkZmxhcmUuY29tL29yaWdpbl9jYTA+BgNVHREENzA1ghoqLmJhbGVuYS50b3Npbmlncm91cC5jbG91ZIIXYmFsZW4udG9zaW5pZ3JvdXAuY2xvdWQwOAYDVR0fBDEwLzAtoCugKYYnaHR0cDovL2NybC5jbG91ZGZsYXJlLmNvbS9vcmlnaW5fY2EuY3JsMA0GCSqGSIb3DQEBCwUAA4IBAQCxSp8CWvcfY3aCKkWc4CLANtuf2Xa47s75RPGcssykbOQTQtKEyWcVXm4lVpW4WDcnOA0ceT4m8ckcsjN1mSBIWLRYvPVpEeIPnwk+eIomkpRZUJW3YGVwCOu7d4k5u46tUcZO52vEnktcEyI4vpiFBl4TmS5OwbSE0xnMuL5VghxMZ4p8jkgrwZ0UmiFLAlcn4StdtWMt5nIEdPS/i6/X4C93ewtYwfFPTPKl4vdywvr/hfQRNLcnh0SDd+TedFn1OoCOFoPknPhSEOjoi1EXVm2C/CqLpB6AefsBUfRWfa73Va4L1GafUAYoR1hPOETyZQ07g01He7jUVbHbGjFT
      TOKEN_AUTH_CERT_KEY: MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDFPx/EoJJ0XVcoU663qRFsynylQPpEv4tHI9gNaItJVcnefoYNJmkvzOlb1hsRSkC94z9iZaCuqQIGoM9SESECERRLuylnix/DK9QHK4ykQTY5bU/HH5c6dAibTB14JD5DpUOsq4xu2ehdZi7sRBeQftdeV+a8xj0HUmng5hTpJp2RlslwrOO4fRSRfRG5rNVl30QPIRbGp5r1nZAenT0BuCJuWPXmQZ7QM+8uj+Z4QicH6EUMRB5y8JOHE1+fFmVqJFPW8XKYCv8dNH47b5kdsRUKEoPzS6RCSK0D3IPXUAZP+sTTzZtdMfN9S73Q4vWoo4GzkgatGDl5rhIdfvk1AgMBAAECggEAUkRftZzbOJltrq4oYwWq9NsHXc1aFK5nIsa6Z+1AmtejGJ9gvb9Vg9BNTDZil7WGhyxu1VVZzT9ETwtnLO1j/P6unl9zh3IpTzfKeSsav69LNGx5J63vXzviExON/vvu1Dvrm+r46YsNNVdXHsfPpD6jCQBUhkuQTKt86YZNFmh/PiK9ChRX5cTjSgsJw8qWn/BT+OOcSh4VR7Ya2Kt4f52WSyP/UF/tAv6mJ9ZAuOncDvItUirg3k5CCQd+OZualV3qYr7uieYnTr7h4g2NsyEMw4W+TH9sEi6eMsD5iB+ADOhcoo09uo7LqchzGnnXD4rWRZPIOl7JA9ZDGICuyQKBgQDjTHOQwa2UlM5VDyYKyuuUQcpxHGobIRVES2FtidNZ5iBvJnnOqfDGAjycKFWKk5viHQ6DHwzSqTxPqmkVDJPOdRLOUHsY7hUrTxJiLaaZ0hBuAocBFLU29AuTBWf6Yjgcm4/U8h0l7INpyuUbAwJurAvTE87GtUWYoxmGJLJVIwKBgQDeJzlU/2D+KcNOGfdjGfIjnZUAt0QErYKcJB/6DunU6wWKjVyl/IsDXz+1tvjjU/Hz/aeS8gcvOvrvVaLTE0oAMvh2JARqLVWziqSMUfjga4BJLjhiMy44PmK12AbE5m0x1cFnnzaXMh1P+wCPoisQMuoB+WjyxnANLIaofg45xwKBgFQ7vcwUal5YswpEneV8A8eihgJa9FtvbDEt+kIcxI1ZQgXO7W8P/WFz7MA2FlVPlII8IGepNxhOjUI8tcqOKaxmKHz6yFOZz5CIMhjeMBJrDZmnKB7XbLybvjpS05Cvm3nGkIvq2bB3MNAg17yl5d3btloXyhZLkSoar1fN+6SfAoGAZmyfOlkkVwraSUAfl0l3IoSdFl9otN9qwKLHO3t0w/4359GVTdJKJZvcu+NIjUc+3sesY0vDlDsVRxOsprTWAZF+jLm+b1XHlafuheOlY5Ms6pCs3lnKjZP13vFi7ZVv8vIi4au+d6dbbGzFrXOPd0CCM7bSdFyZfPlyfGziEjECgYEA0vakJehLl2YJn6bsqx4Q7mZbvgXNjXWhx8lZQ/7xhQF+L1XltIx85C8FhggZ//sUt7AGI0YfFtjulaRquWQkbrHfAigTpp4d8Ks2cXdpXz4QGDg81GvR/rC534ySa7Y77lLScM5z0P59N6/tBr/4d4NPMAg+6UloMd9LCR7GGdA=
      TOKEN_AUTH_CERT_KID: auth-key-2024
      TOKEN_AUTH_CERT_PUB: MIIEuzCCA6OgAwIBAgIUIQko7iZLIODdnlK/AnUUwaQOIBowDQYJKoZIhvcNAQELBQAwgYsxCzAJBgNVBAYTAlVTMRkwFwYDVQQKExBDbG91ZEZsYXJlLCBJbmMuMTQwMgYDVQQLEytDbG91ZEZsYXJlIE9yaWdpbiBTU0wgQ2VydGlmaWNhdGUgQXV0aG9yaXR5MRYwFAYDVQQHEw1TYW4gRnJhbmNpc2NvMRMwEQYDVQQIEwpDYWxpZm9ybmlhMB4XDTI1MDYyMzEwMTUwMFoXDTQwMDYxOTEwMTUwMFowYjEZMBcGA1UEChMQQ2xvdWRGbGFyZSwgSW5jLjEdMBsGA1UECxMUQ2xvdWRGbGFyZSBPcmlnaW4gQ0ExJjAkBgNVBAMTHUNsb3VkRmxhcmUgT3JpZ2luIENlcnRpZmljYXRlMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxT8fxKCSdF1XKFOut6kRbMp8pUD6RL+LRyPYDWiLSVXJ3n6GDSZpL8zpW9YbEUpAveM/YmWgrqkCBqDPUhEhAhEUS7spZ4sfwyvUByuMpEE2OW1Pxx+XOnQIm0wdeCQ+Q6VDrKuMbtnoXWYu7EQXkH7XXlfmvMY9B1Jp4OYU6SadkZbJcKzjuH0UkX0RuazVZd9EDyEWxqea9Z2QHp09Abgiblj15kGe0DPvLo/meEInB+hFDEQecvCThxNfnxZlaiRT1vFymAr/HTR+O2+ZHbEVChKD80ukQkitA9yD11AGT/rE082bXTHzfUu90OL1qKOBs5IGrRg5ea4SHX75NQIDAQABo4IBPTCCATkwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMCBggrBgEFBQcDATAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBRY6S1knnBVKR2eFADHlInMrvK1mDAfBgNVHSMEGDAWgBQk6FNXXXw0QIep65TbuuEWePwppDBABggrBgEFBQcBAQQ0MDIwMAYIKwYBBQUHMAGGJGh0dHA6Ly9vY3NwLmNsb3VkZmxhcmUuY29tL29yaWdpbl9jYTA+BgNVHREENzA1ghoqLmJhbGVuYS50b3Npbmlncm91cC5jbG91ZIIXYmFsZW4udG9zaW5pZ3JvdXAuY2xvdWQwOAYDVR0fBDEwLzAtoCugKYYnaHR0cDovL2NybC5jbG91ZGZsYXJlLmNvbS9vcmlnaW5fY2EuY3JsMA0GCSqGSIb3DQEBCwUAA4IBAQCxSp8CWvcfY3aCKkWc4CLANtuf2Xa47s75RPGcssykbOQTQtKEyWcVXm4lVpW4WDcnOA0ceT4m8ckcsjN1mSBIWLRYvPVpEeIPnwk+eIomkpRZUJW3YGVwCOu7d4k5u46tUcZO52vEnktcEyI4vpiFBl4TmS5OwbSE0xnMuL5VghxMZ4p8jkgrwZ0UmiFLAlcn4StdtWMt5nIEdPS/i6/X4C93ewtYwfFPTPKl4vdywvr/hfQRNLcnh0SDd+TedFn1OoCOFoPknPhSEOjoi1EXVm2C/CqLpB6AefsBUfRWfa73Va4L1GafUAYoR1hPOETyZQ07g01He7jUVbHbGjFT
    env_file:
      - .env
    healthcheck:
      test: /usr/src/app/docker-hc
      interval: 45s
      timeout: 15s
      retries: 3
    cap_add:
      - SYS_ADMIN
      - SYS_RESOURCE
    security_opt:
      - apparmor=unconfined
    tmpfs:
      - /run
      - /sys/fs/cgroup
    tty: true
  registry:
    image: brutosini/open-balena-registry:2.42.0
    restart: unless-stopped
    depends_on:
      - redis
      - s3
    volumes:
      - certs-data:/certs
      - resin-data:/balena
    environment:
      COMMON_REGION: open-balena
      HOSTS_CONFIG: REGISTRY2_HOST:registry2,REGISTRY2_TOKEN_AUTH_ISSUER:api,REGISTRY2_TOKEN_AUTH_REALM:api
      REGISTRY2_CACHE_ADDR: redis:6379
      REGISTRY2_CACHE_DB: 1
      REGISTRY2_CACHE_ENABLED: 'true'
      REGISTRY2_S3_BUCKET: registry-data
      REGISTRY2_STORAGEPATH: /data
      TOKENS_CONFIG: REGISTRY2_SECRETKEY:hex
    env_file:
      - .env
    healthcheck:
      test: /usr/src/app/docker-hc
      interval: 45s
      timeout: 15s
      retries: 3
    cap_add:
      - SYS_ADMIN
      - SYS_RESOURCE
    security_opt:
      - apparmor=unconfined
    tmpfs:
      - /run
      - /sys/fs/cgroup
    tty: true
  vpn:
    image: brutosini/open-balena-vpn:11.32.28
    restart: unless-stopped
    depends_on:
      - api
    volumes:
      - certs-data:/certs
      - resin-data:/balena
    environment:
      HOSTS_CONFIG: VPN_HOST:cloudlink
      TOKENS_CONFIG: ','
      VPN_HAPROXY_USEPROXYPROTOCOL: 'true'
      VPN_PORT: 443
      VPN_SERVICE_REGISTER_INTERFACE: eth0
    env_file:
      - .env
    healthcheck:
      test: /usr/src/app/docker-hc
      interval: 45s
      timeout: 15s
      retries: 3
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
    devices:
      - /dev/net/tun
    security_opt:
      - apparmor=unconfined
    tmpfs:
      - /run
      - /sys/fs/cgroup
    tty: true
  db:
    image: brutosini/open-balena-db:6.0.0
    restart: unless-stopped
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      DB_NAME: resin
      DB_PASSWORD: docker
      DB_USER: docker-tos
      LOG_LEVEL: DEBUG
      PRODUCTION_MODE: 'true'
    env_file:
      - .env
    healthcheck:
      test: pg_isready -U "$${DB_USER}" -d "$${DB_NAME}"
    tty: true
  s3:
    image: brutosini/open-balena-s3:2.28.75
    restart: unless-stopped
    volumes:
      - s3-data:/export
      - certs-data:/certs
      - resin-data:/balena
    environment:
      BUCKETS: registry-data;web-resources
      HOSTS_CONFIG: REGISTRY2_S3_REGION_ENDPOINT:s3,WEBRESOURCES_S3_HOST:s3
      TOKENS_CONFIG: REGISTRY2_S3_KEY:hex,REGISTRY2_S3_SECRET:hex,S3_MINIO_ACCESS_KEY:REGISTRY2_S3_KEY,S3_MINIO_SECRET_KEY:REGISTRY2_S3_SECRET,WEBRESOURCES_S3_ACCESS_KEY:REGISTRY2_S3_KEY,WEBRESOURCES_S3_SECRET_KEY:REGISTRY2_S3_SECRET
    env_file:
      - .env
    healthcheck:
      test: /usr/src/app/docker-hc
      interval: 45s
      timeout: 15s
      retries: 3
    cap_add:
      - SYS_ADMIN
      - SYS_RESOURCE
    security_opt:
      - apparmor=unconfined
    tmpfs:
      - /run
      - /sys/fs/cgroup
    tty: true
  redis:
    image: redis:8.0-alpine
    restart: unless-stopped
    volumes:
      - redis-data:/data
    env_file:
      - .env
    healthcheck:
      test: echo INFO | redis-cli | grep redis_version
      interval: 45s
      timeout: 15s
      retries: 3
    tty: true
  haproxy:
    build: src/haproxy
    restart: unless-stopped
    ports:
      - 80:80/tcp
      - 443:443/tcp
      - 1936:1936/tcp
    volumes:
      - certs-data:/certs
      - resin-data:/balena
    environment:
      LOGLEVEL: info
    env_file:
      - .env
    healthcheck:
      test: true | openssl s_client -connect localhost:443
      interval: 45s
      timeout: 15s
      retries: 3
    cap_add:
      - SYS_ADMIN
      - SYS_RESOURCE
    security_opt:
      - apparmor=unconfined
    sysctls:
      net.ipv4.ip_unprivileged_port_start: 0
    tmpfs:
      - /run
      - /sys/fs/cgroup
    tty: true
  haproxy-sidecar:
    build: src/haproxy-sidecar
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/host/run/docker.sock
    environment:
      DOCKER_HOST: unix:///host/run/docker.sock
      ALIASES: api,ca,cloudlink,db,delta,logs,redis,registry2,s3,stats,tunnel,postgrest,remote,registry
    env_file:
      - .env
    labels:
      io.balena.features.balena-socket: 1
      io.balena.features.supervisor-api: 1
    tty: true
  cert-manager:
    build: src/cert-manager
    restart: unless-stopped
    depends_on:
      - balena-ca
    volumes:
      - cert-manager-data:/etc/letsencrypt
      - certs-data:/certs
      - resin-data:/balena
    environment:
      SSH_KEY_NAMES: ','
      SUBJECT_ALTERNATE_NAMES: '*'
    env_file:
      - .env
    labels:
      io.balena.features.balena-api: 1
      io.balena.features.supervisor-api: 1
    tty: true
  balena-ca:
    image: brutosini/ca-private:0.0.15
    restart: unless-stopped
    volumes:
      - pki-data:/pki
      - certs-data:/certs
      - resin-data:/balena
    env_file:
      - .env
    labels:
      io.balena.features.balena-api: 1
      io.balena.features.supervisor-api: 1
    healthcheck:
      test: curl --silent -I --fail localhost:8888
      interval: 60s
      timeout: 60s
      retries: 10
    tty: true
  tag-sidecar:
    build: src/tag-sidecar
    restart: 'no'
    environment:
      ENABLED: 'true'
    labels:
      io.balena.features.balena-api: 1
  sut:
    build: src/balena-tests
    restart: 'no'
    volumes:
      - builder-certs-client:/docker-pki/client
      - certs-data:/certs
      - resin-data:/balena
    environment:
      DOCKER_CERT_PATH: /docker-pki/client
      DOCKER_HOST: docker:2376
      DOCKER_TLS_VERIFY: 'true'
      GUEST_IMAGE: /balena/balena.img
    env_file:
      - .env
    labels:
      io.balena.features.balena-api: 1
      io.balena.features.supervisor-api: 1
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
    command: /usr/sbin/balena.sh
    security_opt:
      - apparmor=unconfined
      - seccomp=unconfined
    tty: true
  dut:
    build: src/test-device
    restart: 'no'
    volumes:
      - resin-data:/balena
    environment:
      GUEST_IMAGE: /balena/balena.img
      MEMORY: 3072M
      CPU: 4
    env_file:
      - .env
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
    command:
      - /usr/sbin/balena.sh
    devices:
      - /dev/net/tun
    entrypoint:
      - /bin/sh
      - '-c'
    security_opt:
      - apparmor=unconfined
      - seccomp=unconfined
    tty: true
  docker:
    image: docker:dind
    restart: unless-stopped
    volumes:
      - /sys:/sys
      - builder-certs-ca:/docker-pki/ca
      - builder-certs-client:/docker-pki/client
      - builder-data:/var/lib/docker
      - certs-data:/certs
    environment:
      DOCKER_TLS_CERTDIR: /docker-pki
    env_file:
      - .env
    labels:
      io.balena.features.sysfs: 1
    healthcheck:
      test: docker system info
      interval: 60s
      timeout: 60s
      retries: 5
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
    command:
      - |
        set -x

        cp /certs/root-ca.pem /certs/server-ca.pem /usr/local/share/ca-certificates/ \
          && update-ca-certificates

        exec /usr/local/bin/dockerd-entrypoint.sh
    entrypoint:
      - /bin/sh
      - '-c'
    security_opt:
      - apparmor=unconfined
      - seccomp=unconfined
    tty: true

volumes:
  builder-certs-ca: {}
  builder-certs-client: {}
  builder-data: {}
  cert-manager-data: {}
  certs-data: {}
  db-data: {}
  pki-data: {}
  redis-data: {}
  resin-data: {}
  s3-data: {}

x-all-privileges-trait:
  privileged: true
  cap_add:
    - ALL

x-base-service-definition:
  restart: unless-stopped
  env_file:
    - .env
  tty: true

x-default-environment:
  DB_NAME: resin
  DB_PASSWORD: dockerakhdvclw!relR
  DB_USER: docker-tos
  LOG_LEVEL: DEBUG
  PRODUCTION_MODE: 'true'

x-default-healthcheck:
  test: /usr/src/app/docker-hc
  interval: 45s
  timeout: 15s
  retries: 3

x-default-healthcheck-trait:
  healthcheck:
    test: /usr/src/app/docker-hc
    interval: 45s
    timeout: 15s
    retries: 3

x-default-privileges-trait:
  cap_add:
    - SYS_ADMIN
    - SYS_RESOURCE
  security_opt:
    - apparmor=unconfined
  tmpfs:
    - /run
    - /sys/fs/cgroup

x-default-volumes-trait:
  volumes:
    - certs-data:/certs
    - resin-data:/balena

x-extended-privileges-trait:
  security_opt:
    - apparmor=unconfined
    - seccomp=unconfined

x-network-privileges-trait:
  cap_add:
    - NET_ADMIN
    - SYS_ADMIN
    - SYS_RESOURCE
